@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #eef8ff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Estilo por defecto para el ícono de WhatsApp */
.FaWhatsapp {
  transition: background-color 0.3s ease;
}

/* Cambiar el fondo a amarillo cuando se hace hover en el enlace */
a:hover .FaWhatsapp {
  background-color: yellow;
}
